.zoho {
    padding: 20px;
}

.form-info {
    /* width: 500px; */
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.input-info {
    display: flex;
    flex-wrap: wrap;
}

.sForm {
    width: 600px;
}

.addProjectBtn {
    text-align: center;
    margin: 1px;
    padding: 5px;
    background-color: #d3d3d3;
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #D9D7DD;
  }
   */
  .clock {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #ffffff;
    font-family: "Montserrat";
    border: 5px solid white;
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
  }
  
  .wrap {
    overflow: hidden;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  
  .minute,
  .hour {
    position: absolute;
    height: 10px;
    width: 1px;
    margin: auto;
    top: -27%;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  
  .minute {
    position: absolute;
    height: 130px;
    width: 4px;
    top: -38%;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
  }
  
  .second {
    position: absolute;
    height: 90px;
    width: 2px;
    margin: auto;
    top: -26%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #FF4B3E;
    transform-origin: bottom center;
    transform: rotate(180deg);
    z-index: 1;
  }
  
  .dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: white;
    border: 2px solid #1b1b1b;
    border-radius: 100px;
    margin: auto;
    z-index: 1;
  }




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
visibility: visible;
  opacity: 1;
}


.popup {
  margin: 110px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 0px;
  right: 5px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ff0000;
}
.popup .close:hover {
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  
  .popup{
    width: 70%;
  }
}



.popup1 {
  margin: 260px 310px 50% 50%;
  padding: 20px;
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup1 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup1 .close {
  position: absolute;
  top: 0px;
  right: 5px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ff0000;
}
.popup1 .close:hover {
  cursor: pointer;
}
.popup1 .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  
  .popup1{
    width: 70%;
  }
}